<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.association.mapper.studentmapper">

    <select id="getallstudent" resultType="com.association.emtity.student">
        select * from student;
    </select>
    <select id="getstudentbyid" resultType="com.association.emtity.student" parameterType="double">
        select * from student where studentID=#{id};
    </select>
    <select id="getstudentbyname" resultType="com.association.emtity.student" parameterType="String">
        select * from student where studentName=#{name};
    </select>
    <select id="getstudentbygrade" resultType="com.association.emtity.student" parameterType="int">
        select * from student where studentGrade=#{grade};
    </select>
    <select id="getstudentnamebyid" resultType="String" parameterType="double">
        select studentName from student where studentID=#{id};
    </select>
<select id="is2017" resultType="boolean">
    select * from student where studentID=#{id} and studentGrade=2017
</select>
</mapper>