<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<script type="javascript">

</script>
<body>
<form action="/Index/UserIndex">
    <div>

<!--        <h1>当前用户名：${msg}</h1>-->
<!--        <h1>welcome ${user.username} !</h1><br>-->
        <h1 th:text="${username}">111111</h1>
        <span style="color: blue" th:text="${msg}"></span>

    </div>
</form>

<script type="text/javascript">
    $.ajax({               <!-- 用美元符号-->
        url:'http://localhost:8080/user/UserIndex/{id}', <!-- 路径要补全-->
        type:"POST",
        data:{},
        success:function(res){
            console.log(res);
            var html='';
            for (var i = 0; i < res.data.length; i++) {
                // res.data[i]

                // html+= '<h1>"'+res.data[i].+'"</h1>'

                document.getElementById("1").innerHTML=html; // 获取或者替换掉html里面的内容
            }
        }
    })
</script>

</body>
</html>